<!-- src/app/menu/menu.component.html -->

<section class="menu-header">
  <h1>Our Menu</h1>
  <p>Authentic South Indian Vegetarian Dishes</p>
</section>

<mat-tab-group backgroundColor="primary" mat-stretch-tabs>
  <mat-tab *ngFor="let section of menu" [label]="section.category">

    <div class="menu-grid">
      <mat-card *ngFor="let item of section.items" class="menu-card">
        <mat-card-content>
          <div class="menu-item">
            <div class="menu-text">
              <h3>{{ item.name }}</h3>
              <p *ngIf="item.description" class="desc">{{ item.description }}</p>
            </div>
            <div class="price">
              <mat-icon>attach_money</mat-icon>{{ item.price.toFixed(2) }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-tab>
</mat-tab-group>
