<!-- src/app/home/home.component.html -->

<section class="home-banner">
  <div class="slider">
    <div
      class="slide"
      *ngFor="let slide of slides; let i = index"
      [class.active]="i === currentSlide"
    >
      <img [src]="slide.src" [alt]="slide.caption" />
      <div class="caption">
        <h2>{{ slide.caption }}</h2>
      </div>
    </div>

    <button class="nav prev" (click)="prevSlide()">&#10094;</button>
    <button class="nav next" (click)="nextSlide()">&#10095;</button>
  </div>
</section>
<div>
<br>
</div>
